# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Base vectorial generada
data/

# Archivos temporales
*.log

#Archivos confidenciales
docs/*.docx
docs/*.md
!docs/README.md