# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Base vectorial generada
data/

# Archivos temporales
*.log

#Archivos confidenciales
docs/*.docx
docs/*.md
!docs/README.md
docs/*.pdf

# Permitir documentación pública de ejemplo
!docs/README.md
!docs/sample/
!docs/sample/*.md
!docs/sample/*.docx
!docs/sample/*.pdf